<<<<<<< HEAD
.collection-container .row iframe {
  width: 100%;
  height: 216px;
  overflow: hidden;
  margin-top: 10px;

}
=======
.collection-container .row iframe {
  width: 100%;
  height: 216px;
  overflow: hidden;
  margin-top: 10px;

}
>>>>>>> origin/master
